.MuiButtonBase-root.button-component {
  background-color: #2f2fff;
  text-transform: none;

  &:hover {
    background-color: #2f2fff;
    border-color: #0062cc;
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
    background-color: #2f2fff;
    border-color: #005cbf;
  }
}
